/* Все страницы */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'TT Travels', serif;
  width: 100%;
  /* background: url('../fon1.png'); */
  background-color: #f2f2f2;
  color: #f2f2f2;
  font-size: 2.083vw;
  line-height: 2.500vw;
  font-weight: 400;
  overflow: hidden;
  cursor: none;
}

.cursor {
position: absolute;
height: 40px;
width: 40px;
border-radius: 50%;
background-color: #FF5903;
transition: background-color 0.5s ease,
            transform 0.5s ease;
cursor: none;
}

h1 {
  font-size: 6.771vw;
  line-height: 6.771vw;
  width: 30.260vw;
  text-transform: uppercase;
}

.firstheader {
  position: relative;
  box-sizing: border-box;
  margin: 2.656vw 0vw 0vw 2.552vw;
  opacity: 1;
}

.contactdone {
  width: 58.802vw
}

.secondheader {
  position: relative;
  box-sizing: border-box;
  margin: -13.5vw 0vw 0vw 2.552vw;
  opacity: 0;
}

a#fourthfloor, a#thirdfloor, a#secondfloor, a#firstfloor {
  position: relative;
  box-sizing: border-box;
  display: block;
}

a#fourthfloor, a#secondfloor{
  margin-left: 70.313vw;
}

a#thirdfloor, a#firstfloor{
  margin-left: 7.292vw;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

p {
  width: 40.052vw;
  margin: 2.5vw 0vw -25vw 2.552vw;
}

/* Навигация */

nav {
  position: relative;
  margin: 2.396vw 0vw 0vw 3.073vw;
  color: #010AC9;
}

.navtext {
  position: relative;
  display: inline;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.083vw;
  display: inline-block;
}

.priyut, .events, .pets, .shop, .contact {
  margin: 0vw 0vw 0vw 1.979vw;
}

.activelink {
  color: #FF5903;
}
/* Логотип */

.logo {
  position: relative;
  width: 6.250vw;
  height: 5.208vw;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: -3.9vw 0vw 0vw 91.7vw;
}

/* Контейнер */

.container {
  display: inline-block;
  position: relative;
  margin: 0.7vw 0vw 0vw 2.083vw;
  width: 95.833vw;
  height: 46.927vw;
  border-radius: 2.083vw;
  background-color: #010AC9;
}

/* Большой квадратный блок */

.bigsquareblock {
  position: relative;
  box-sizing: border-box;
  width: 44.531vw;
  height: 44.531vw;
  background-color: #f2f2f2;
  border-radius: 1.250vw;
  margin: 1.146vw 0vw 0vw 1.146vw;
}

.littlesquareblock {
  position: relative;
  box-sizing: border-box;
  width: 21.633vw;
  height: 21.633vw;
  background-color: #f2f2f2;
  border-radius: 1.250vw;
}

.fblockshop {
  margin:-27.35vw 0vw 0vw 45.6vw
}

.sblockshop {
  margin:-27.35vw 0vw 0vw 45.6vw
}

/* Маленький прямоугольный блок */
.rectangleblock {
  width: 44.531vw;
  height: 27.448vw;
  background-color: #f2f2f2;
  border-radius: 1.250vw;
}

button {
  cursor: none;
}

.buttons {
  position: relative;
  box-sizing: border-box;
  margin: -34.1vw 0vw 0vw 51.8vw;
}

button.smallbuttons {
  position: relative;
  box-sizing: border-box;
  width: 13.438vw;
  height: 3.073vw;
  font-size: 1.667vw;
  border-radius: 2.083vw;
  border: solid #f2f2f2 0.104vw;
  text-transform: uppercase;
  background-color: #010AC9;
  color: #f2f2f2;
}

button.activesmallbutton {
  background-color: #f2f2f2;
  color: #010AC9;
}


.petdataline {
  margin: 1.510vw 0vw 0vw 52vw;
}

.petname {
  text-transform: uppercase;
  font-size: 2.448vw;
  font-weight: 600;
  line-height: 2.917vw;
}

.pettextblock {
  width: 40.156vw;
  font-size: 1.875vw;
  line-height: 2.240vw;
  margin: 0.781vw 0vw 0vw 52vw;
}

.like {
  background: url('../img/inactivelike.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.petlike {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 4.844vw;
  height: 4.844vw;
  margin: 10.1vw 0vw -4.8vw 58.25vw;
}

.like:hover {
  background: url('../img/activelike.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: 0.8s;
}

button.bigbuttons {
  width: 28.229vw;
  height: 4.844vw;
  font-size: 3.333vw;
  border-radius: 3.125vw;
  border: solid #f2f2f2 0.104vw;
  text-transform: uppercase;
  background-color: #010AC9;
  color: #f2f2f2;
}

button.bigbuttons:hover {
  background-color: #f2f2f2;
  color: #010AC9;
  transition: 0.8s;
}

.takeaway {
  position: relative;
  box-sizing: border-box;
  margin: 0vw 0vw 0vw 64.115vw;
}

.mochi {
  margin: -43.8vw 0vw 0vw 0vw;
}

.lucky {
  margin: -43.8vw 0vw 0vw 0vw;
}

/* Страница приюта */

.priyutscroll {
  width: 94.684vw;
  height: 41.86vw;
  overflow-y: scroll;
  margin: 2.656vw 0vw 0vw 0vw;
}

.priyutscroll::-webkit-scrollbar {
display: none;
}

#zdanie {
  position: relative;
  box-sizing: border-box;
  width: 39.010vw;
  height: 37.448vw;
  margin: -39.76vw 0vw 0vw 52vw;
  background: url('../img/zdanie.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;
}

.priyutblock {
  position: relative;
  box-sizing: border-box;
  margin: -24.6vw 0vw 0vw 48.75vw;
  z-index: 0;
}

.contactus {
  position: relative;
  box-sizing: border-box;
  margin: 8.28vw 0vw 0vw 64.115vw;
}

.aboutblock {
  position: relative;
  box-sizing: border-box;
  margin: -13.748vw 0vw 0vw 48.75vw;
}

input {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: transparent;
  color: #6267DA;
  font-family: 'TT Travels', serif;
  font-size: 2.083vw;
  line-height: 2.500vw;
  width: 38vw;
  border: none;
  border-bottom: solid 0.156vw #f2f2f2;
}

.inputblocks {
  margin: 29.6vw 0vw 0vw 2.552vw;
}

.nameblock {
  margin: 1vw 0vw 0vw 0vw;
}

.textcontactblock {
  margin: 3.8vw 0vw -10.777vw 0vw;
}

.cart {
  position: absolute;
  box-sizing: border-box;
  width: 29.038vw;
  height: 39.063vw;
  background: url('../img/cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: -26vw 0vw 0vw 63.2vw;
}

.krolik {

}

.tshirt {
  width: 35.362vw;
  height: 30.990vw;
  box-sizing: border-box;
  margin: 6.771vw 0vw 0vw 4.740vw;
}
